.logo {
  width: 3rem;
  margin-right: 2rem;
  margin-left: 1.5rem;
}

html, .container-fluid {
  background-image: linear-gradient(to left, #21cdef 0%, #14e4be 50%, #1bf143 100%);
}

.link-tag {
  color: white;
}

.user-logo {
  width: 7rem;
  margin-left: 43%;
  margin-bottom: 10px;
}

.photo {
  height: 150px;
}